body.single-tournaments {
  .grid {
    padding: 7.5rem $sidePadding;
    display: flex;
    flex-wrap: wrap;
    .content {
      width: calc(100% - 37.5rem);
      flex: 0 0 calc(100% - 37.5rem);
      padding-right: 15rem;
      .tabs {
        &-tab {
          &-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 3rem;
            &-item {
              position: relative;
              padding-bottom: 0.5rem;
              opacity: 0.5;
              transition: all 0.3s ease;
              cursor: pointer;
              &:not(:last-of-type) {
                margin-right: 1.5rem;
              }
              &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.2rem;
                bottom: 0;
                left: 0;
                background: $teal;
                @include transform(scaleX(0));
                @include transit(all 0.3s ease);
                transform-origin: center left;
              }
              &:hover {
                opacity: 1;
              }
              &.active {
                opacity: 1;
                &::after {
                  @include transform(scaleX(1));
                }
              }
            }
          }
          &-content {
            &-item {
              display: none;
              &.active {
                display: block;
              }
              .lineup-wrapper {
                li {
                  font-size: 3.2rem;
                  font-weight: 500;
                  color: #fff;
                  display: flex;
                  align-items: center;
                  align-content: center;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  border-bottom: 1px solid $dblue;
                  padding: 1.5rem;
                  cursor: pointer;
                  .wrap {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    .img-wrapper {
                      flex: 0 0 6.4rem;
                      width: 6.4rem;
                      height: 6.4rem;
                      margin-right: 1.5rem;
                      @include borderRadius(50%);
                      overflow: hidden;
                    }
                  }
                  &:first-of-type {
                    border-top: 1px solid $dblue;
                  }
                  &:hover,
                  &.active {
                    background: $dblue;
                  }
                  a {
                    color: #fff;
                    transition: all 0.3s ease;
                    pointer-events: none;
                    &:hover {
                      color: $teal;
                    }
                    &.active {
                      color: $teal;
                      @include rotate(180);
                    }
                  }
                }
                .lineup-members {
                  display: none;
                  flex: 0 0 100%;
                  width: 100%;
                  &-list {
                    li {
                      justify-content: flex-start;
                      border: none !important;
                      &:hover {
                        background-color: #12171e;
                        cursor: default;
                      }
                      .img-wrapper {
                        width: 4rem;
                        height: 4rem;
                        margin-right: 1.5rem;
                        @include borderRadius(50%);
                        overflow: hidden;
                      }
                      p {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        line-height: 1;
                        .captain,
                        .sub {
                          margin-left: 1rem;
                        }
                        .captain {
                          color: $teal;
                        }
                      }
                    }
                  }
                }
              }
              .groups {
                &-all {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 3.5rem;
                }
                &-single {
                  flex: 0 0 calc(100% - 0rem);
                  width: calc(100% - 0rem);
                  padding: 1.5rem;
                  @include borderRadius(0.8rem);
                  background: $dblue;
                  h3 {
                    flex: 0 0 100%;
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 1rem;
                  }
                  table {
                    flex: 0 0 100%;
                    width: 100%;
                    thead {
                      tr {
                        border-bottom: 1px solid $teal;
                      }
                    }
                    tr {
                      &:not(:last-of-type) {
                        border-bottom: 1px solid $teal;
                      }
                      td {
                        padding: 1.5rem;
                        vertical-align: middle;
                        font-size: 1.8rem;
                        &:first-of-type {
                          flex: 0 0 6.4rem;
                          width: 6.4rem;
                          height: 6.4rem;
                          margin-right: 1.5rem;
                          overflow: hidden;
                        }
                        &:last-of-type {
                          text-align: right;
                        }
                        .logo-wrapper {
                          @include borderRadius(50%);
                          overflow: hidden;
                          width: 4rem;
                          height: 4rem;
                          margin-right: 1.5rem;
                          img {
                            @include fullSizeImg(cover);
                          }
                        }
                      }
                    }
                    th {
                      color: #fff;
                      padding: 1.5rem;
                      font-size: 1.6rem;
                      font-weight: 500;
                      opacity: 0.5;

                      vertical-align: middle;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .sidebar {
      width: 37.5rem;
      flex: 0 0 37.5rem;
      position: relative;
      height: inherit;
    }
    .tournament-info-card {
      padding: 2rem;
      background: $dblue;
      @include borderRadius(1.6rem);
      width: 100%;
      position: sticky;
      top: 7.5rem;
      ul {
        li {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          flex-wrap: wrap;
          color: #fff;
          line-height: 1.5;
          p {
            font-size: 1.4rem;
          }
          &:not(:last-of-type) {
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}
